@charset "UTF-8";
/* CSS Document */


		html, body {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0
		}
		body {
			font-family: calibri
		}
		.showLayer {
			display: none
		}
		.bracketNormal, .bracketCorrection {
			display: none;
			font-weight: bold
		}
		.bracketNormal {
			color: #DD0000
		}
		.bracketCorrection {
			color: #DD0000
		} /* TODO: put back to #3333FF if we ever go back to brackets */
		input[type=button] {
			border: none
		}
		.sicText {
			cursor: default
		}
		.recteText {
			color: #DD0000
		}

		.showLayerA1 {
		}
		.showLayerA2 {
		}
		.showLayerA3 {
		}
		.showLayerB1 {
		}
		.showLayerB2 {
		}
		.showLayerC1 {
		}
		.showLayerC2 {
		}
		.showLayerD1 {
		}
		.showLayerD2 {
		}
		.showLayerE1 {
		}
		.showLayerE2 {
		}
		.showLayerE3 {
		}
		.showLayerF1 {
		}

		.sessionAColor {
			background-color: #FFBFBF
		}
		.sessionBColor {
			background-color: #FFBF7F
		}
		.sessionCColor {
			background-color: #FFFF7F
		}
		.sessionDColor {
			background-color: #7FFF7F
		}
		.sessionEColor {
			background-color: #BFBFFF
		}
		.sessionFColor {
			background-color: #CF8FFF
		}

		.layerContainer {
			display: block;
			margin-left: 35px;
			spacing: 0;
			text-indent: -35px;
			padding: 0
		}
		.layerLabel {
			display: inline-block;
			margin: 0px;
			text-indent: 0px;
			width: 31px;
			text-align: center;
			color: black
		}
		.layerSpacer {
			display: inline;
			margin: 0px;
			text-indent: 0px;
			width: 5px;
			text-align: center;
			background-color: white
		}
		.layerContents {
			display: inline;
			margin: 0px;
			text-indent: 0px
		}

		.layerContainer {
			display: inline
		}
		.layerLabel {
			display: none
		}
		.layerSpacer {
			display: none
		}
		.layerContents {
			display: inline
		}
		#substJoinBar {
			display: none
		}

		.emphBold {
			font-weight: bold
		}
		.emphItalic {
			font-style: italic
		}
		.emphUnderline {
			text-decoration: underline
		}
		.emphSingleQuote:before {
			content: "‘"
		}
		.emphSingleQuote:after {
			content: "’"
		}
		.emphDoubleQuote:before {
			content: "“"
		}
		.emphDoubleQuote:after {
			content: "”"
		}
		.emphSmallCaps {
			font-variant: small-caps
		}
		.allChangesModeOn {
			display: inline
		}
		.allChangesModeOff {
			display: none
		}
		.finalModeOn {
			display: none
		}
		.finalModeOff {
			display: inline
		}
		.readingModeOn {
			display: none
		}
		.readingModeOff {
			display: inline
		}
		.pb {
			width: 300px;
			color: #3333FF;
			border-top: solid 1px #3333FF;
			margin-top: 2ex
		}

		.emphBold {
			font-weight: bold
		}
		.emphItalic {
			font-style: italic
		}
		.emphUnderline {
			text-decoration: underline
		}
		.emphSingleQuote:before {
			content: "‘"
		}
		.emphSingleQuote:after {
			content: "’"
		}
		.emphDoubleQuote:before {
			content: "“"
		}
		.emphDoubleQuote:after {
			content: "”"
		}
		.emphSmallCaps {
			font-variant: small-caps
		}
		.allChangesModeOn {
			display: none
		}
		.allChangesModeOff {
			display: inline
		}
		.finalModeOn {
			display: inline
		}
		.finalModeOff {
			display: none
		}
		.readingModeOn {
			display: none
		}
		.readingModeOff {
			display: inline
		}
		.pb {
			width: 200px;
			color: #3333FF;
			border-top: solid 1px #3333FF;
		}

		.emphNone, .emphBold, .emphItalic, .emphUnderline, .emphSingleQuote, .emphDoubleQuote, .emphSmallCaps {
			font-style: italic
		}
		.allChangesModeOn {
			display: none
		}
		.allChangesModeOff {
			display: inline
		}
		.finalModeOn {
			display: none
		}
		.finalModeOff {
			display: inline
		}
		.readingModeOn {
			display: inline
		}
		.readingModeOff {
			display: none
		}

		div.lineBreak {
			display: inline
		}

	.joinMarkerSession_A {
	}
	.joinMarkerSession_B {
	}
	.joinMarkerSession_C {
	}
	.joinMarkerSession_D {
	}
	.joinMarkerSession_E {
	}
	.joinMarkerSession_F {
	}
               
               

.ui-widget {
	font-family: calibri;
	font-size: 1em;
}


